.App {
  text-align: center;
}

.header{
  margin-top:20px;
}

.currentcard{
  width:400px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.card-group{
  margin:30px;
}

.card{
  cursor:pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container{
  display:flex;
  align-items:center;
  justify-content: center;
}

.mainInput{
  width:500px;
}

.heading{
  padding:20px;
  color:white;
}
